# Environment files
.env


# Virtual environment
myenv/

# Executable files
ngrok.exe

# Configuration files
pyvenv.cfg

# Ngrok file
ngrok.exe





# Any logs or temporary files
*.log
*.temp

#file

app2.py
call.py
example2.py
utils.py
chroma_db
chroma_db/chroma.sqlite3
chroma_db/eb1e171a-032e-4e36-9013-f77c1b06a181/data_level0.bin
chroma_db/eb1e171a-032e-4e36-9013-f77c1b06a181/header.bin
chroma_db/eb1e171a-032e-4e36-9013-f77c1b06a181/length.bin
chroma_db/eb1e171a-032e-4e36-9013-f77c1b06a181/link_lists.bin


__pycache__
scraper.cpython-312.pyc
vector_db.cpython-312.pyc

#production_code_replica
production_code_replica.py

#phoenix config
pyvenv.cfg
phoenix_data

# file to ignore ths created while testing in local machine
server.py
test.py
2209_bot.py
2209_app.py
0710_app.py
2409_app.py
2509_app.py
2909_app.py
31_10_app.py
31_10_llm_utils.py
app_working.py
# .env example file
.env.example

# file to ignore the created while testing in local machine
pipcat_app.py
pipecat_requirement.txt
pipecat_vectordb.py
pipecat_llm_utils.py
pipecat_scrapper.py

11_11_app.py

#  dont push outbound-trunk-json
outbound-trunk.json

# current code 
current_app.py
fast_api.py

startup.txt


agent.py
call_dispatch.py


.dockerignore
.env.local
21_11_reuirement.txt
Dockerfile